{% block content %}
{% load static %}
  <body>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href = "{% url 'search_results' pick_up drop_off %}">Back to Search Results</a>
        <table border = 1>
            <thead>
                <th>carmake</th>
                <th>model</th>
                <th>year</th>
                <th>mileage </th>
                <th>rate</th>
                <th>owner</th>
        </thead>
        <tr>
            <td>{{carmake}}</td>
            <td>{{model}}</td>
            <td>{{year}}</td>
            <td>{{mileage}}</td>
            <td>{{rate}}</td>
            <td>{{owner}}</td>
        </tr>

      <form method = "POST">
        {% csrf_token %}
        <div id="div_id_pick_up" class="control-group"> 
          <label for="id_pick_up" class="control-label requiredField">From</label> 
            <div class="controls"> <input type="date" id="id_pick_up" name="pick_up" value={{pick_up}} > </div> 
        </div> 
        
        <div id="div_id_drop_off" class="control-group"> 
          <label for="id_drop_off" class="control-label requiredField">To</label> 
            <div class="controls"> <input type="date" id="id_drop_off" name="drop_off" value={{drop_off}} > </div> 
        </div> 
        <button type="submit">Confirm</button>

      </form>
    </div>
   
  </body>
{% endblock %}
