{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% load static %}

<html>
<body>
    <h2>Edit</h2>
    <a href="admin">Back to profile</a>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
        Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" value="{{username}}" maxlength="64" class="textinput textInput" required="" id="id_username"> </div> </div> 

        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        First Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" value="{{first_name}}" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div> 

        <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" value="{{last_name}}" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> 

        <div id="div_id_phone_number" class="control-group"> <label for="id_phone_number" class="control-label requiredField">
        Phone Number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="phonenumber" value="{{phonenumber}}"  required="" id="id_phone_number"> </div> </div> 

        <input type = "submit" value = "Confirm changes"/>
        <br>
    </form>
</body>
</html>
{% endblock %}