{% load static %}
<html>
<body>
    <h2>Customers in the App Store</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add">New customer</a>
    <br/><br/>
    <a href="login">Login</a>
    <br/><br/>
    <a href="profile">Profile page</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.5 }} </td>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td>
                <a href="view/{{cust.5}}"><button>View</button></a> | 
                <a href="edit/{{cust.5}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.5}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.5}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
