{% if page == 'login' %}
<form action="" method="POST">
  {% csrf_token %}
    {% load static %}
    <link rel ="stylesheet" href="{% static "login.css" %}">
    <div class="imgcontainer">
      <img src="{% static 'app/images/carrental.png' %}" alt="Nus" width="200" height="500" class="avatar">
    </div>

    <div class="container">
      <button><a href="index">Home Page</a></button>
      <button class="signup"><a href="signup">Sign up an account</a></button>
    </div>
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit"><a href="index">Login</a></button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

