
{% block content %}
{% load static %}
<body>
    <h1>Profile</h1>
    <a href="index">Back</a>
    <br/><br/>
    <div>
        <h1>Personal Information</h1>
        <label>First Name: {{first_name}}</label><br>
        <label>Last Name: {{last_name}}</label><br>
        <label>Username: {{username}}</label><br>
        <label>Email Address: {{email}}</label><br>
        <label>Date of Birth: {{dob}}</label><br>
        <label>Phone Number: {{number}}</label><br>
        <label>Number of cars owned: {{carsowned}}</label><br>
    </div>
    <br/><br/>
    <a href = "{% url 'editpersonalinfo' %}">Edit profile</a>
    <br/><br/>
    <a href = "{% url 'addcar' %}">Add Car</a>
    <div>
        <h1>Car Information</h1>
    </div>
    <table border=1>
        <thead>
            <th>Car VIN</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Rate</th>
            <th>Action</th>
        </thead>
        {% for car in records %}
        <tr>
            <td> {{ car.0 }} </td>
            <td> {{ car.1 }} </td>
            <td> {{ car.2 }} </td>
            <td> {{ car.3 }} </td>
            <td> {{ car.4 }} </td>
            <td> {{ car.5 }} </td>
            <td>
                <a href="editpersonalcarinfo/{{car.0}}"><button>Edit</button></a>
                <form method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="carvin" value="{{car.0}}"/>  <!-- this name="email" goes to views.py function [email], like name="id" to [id]-->
                    <button onclick="return confirm('Are you sure you want to delete {{car.0}}}?');" type="submit" name="action" value="delete">Delete</button> 
            </td>
        </tr>
        {% endfor %}
    </table>

    <div>
        <h1>Rental Information</h1>
    </div>
    <table border=1>
        <thead>
            <th>Car VIN</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Pick Up Date</th>
            <th>Return date</th>
            <th>Rate</th>
        </thead>
        {% for car in rentalinfo %}
        <tr>
            <td> {{ car.0 }} </td>
            <td> {{ car.1 }} </td>
            <td> {{ car.2 }} </td>
            <td> {{ car.3 }} </td>
            <td> {{ car.4 }} </td>
            <td> {{ car.5 }} </td>
        </tr>
        {% endfor %}
    </table>

    <div>
        <h1>My Rentals</h1>
    </div>
    <table border=1>
        <thead>
            <th>Car VIN</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Pick Up Date</th>
            <th>Return date</th>
            <th>Total Fee</th>
            <th>Action</th>
        </thead>
        {% for car in myrental %}
        <tr>
            <td> {{ car.0 }} </td>
            <td> {{ car.1 }} </td>
            <td> {{ car.2 }} </td>
            <td> {{ car.3 }} </td>
            <td> {{ car.4 }} </td>
            <td> {{ car.5 }} </td>
            <td><a><button>Edit</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
