
{% block content %}
{% load static %}
<body>
    <h1>Profile</h1>
    <a href="index">Back</a>
    <br/><br/>
    <div>
        <label>First Name: {{first_name}}</label><br>
        <label>Last Name: {{last_name}}</label><br>
        <label>Username: {{username}}</label><br>
        <label>Email Address: {{email}}</label><br>
        <label>Date of Birth: {{dob}}</label><br>
        <label>Phone Number: {{number}}</label><br>
    </div>
    <a href = "{% url 'editpersonalinfo' %}">Edit profile</a>
    <a href = "{% url 'addcar' %}">Add Car</a>
</body>
{% endblock %}