{% load static %}
<html>
<body>
    <h2> Rental Car Info database </h2>
    <img src="{% static 'app/images/Rental.png' %}" width="10%"   alt="Rental logo"/><br/>
    <a href="addrentalcarinfoPH"><button> Add Rental Car Info </button></a>   <!--href goes to urls.py and then urls.py goes to views.py  -->
                                                                         
    <br>
    <br>
    </div>

    <div class="home">          <!-- allows switching between any table from any table-->
      <button class="personalinfo"><a href="admin"> Personal Info database </a></button>
      <button class="personalcarinfo"><a href="personalcarinfoPH"> Personal Car Info database </a></button>
      <button class="unavailablecarinfo"><a href="unavailablecarinfoPH"> Unavailable Car Info database </a></button>
      <button class="rentalcarinfo"><a href="rentalcarinfoPH"> Rental Car Info database </a></button>

    </div>
    </div>
    <br/><br/>
    <br>
    <br>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Owner</th>
            <th>Renter</th>
            <th>Car VIN</th>
            <th>Pick-up date</th>
            <th>Drop-off date</th>
            <th>Rental Fee</th>
            
        </thead>
        {% for cust in records %}             <!-- records is the key in the dictionary in the last 4 methods in views.py -->
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 | date:"M d Y" }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td>
                <a href="rentalcarinfoPH/edit/{{cust.2}}/{{cust.3| date:"M d Y"}}"><button>Edit Rental Car Info</button></a>      
                | 
                <form method="POST" style="display: inline;">  
                {% csrf_token %}
                <input type="hidden" name="car_vin" value="{{cust.2}}"/> 
                <input type="hidden" name="pick_up" value="{{cust.3 | date:"M d Y"}}"/> 
                <button onclick="return confirm('Are you sure you want to delete {{cust.2}},{{cust.3}} ?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
     
</body>
</html>
