<html>
<body>
    <h2>Details for {{cust.0}} {{cust.1}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Since</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
    </table>
</body>
</html>